.navbar {
    height: auto;
    width: 100%;
    padding: 1em 3em;
    background: rgb(39, 39, 39);

    h1 {
        color: rgb(255, 255, 255);
        font-weight: 400;
    }

    a {
        text-decoration: none;
    }
}